{{template "base" .}}
{{define "content"}}
    <div class="container">
        <h3>We're Sorry about the inconvience</h3>
        <h1>You are not authorized</h1>
        <p>If this is an error, please check your login credentials.</p>
    </div>
{{end}}