<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>


<div class="container pt-4">
    <!-- Content goes here -->

    <div class="form-signin row justify-content-center align-items-center">
        <div class=" col-md-6 col-lg-4">
            <form method="post" action="/admin/login">

                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <!-- Add the name email and password -->
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
            </form>
        </div>
    </div>

    <!----------------------->
</div>

{{template "footerInclude" .}}
</body>
</html>