<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "adminSidebar" .}}
{{template "adminNavbar" .}}
<main style="margin-top: 58px">
    <div class="container pt-4">
        <!-- Content goes here -->
        
        <div class="container">
            <h1>You got the admin page.</h1>
        </div>

        <!----------------------->
    </div>
</main>

{{template "footerInclude" .}}
</body>
</html>