<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "adminSidebar" .}}
{{template "adminNavbar" .}}
<main style="margin-top: 58px">
    <div class="container pt-4">
        <!-- Content goes here -->
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h3>Add User</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/user/create">
                            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                            <div class="row">
                                <div class="col-3 text-end">
                                    <label for="name">Name:</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="John doe">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-end">
                                    <label for="email">Email:</label>
                                </div>
                                <div class="col-9">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="name@example.com">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-end">
                                    <label for="password">Password:</label>
                                </div>
                                <div class="col-9">
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-end">
                                    <label for="">User Type:</label>
                                </div>
                                <div class="col-9">
                                    <select name="user_type" id="user_type">
                                        <option value="1">1 - User</option>
                                        <option value="2">2 - Moderator</option>
                                        <option value="3">3 - Admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-3 text-center">
                                    <button class="w-50 btn btn-lg btn-primary" type="submit">Create User</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </div>
        <!----------------------->
    </div>
</main>

{{template "footerInclude" .}}
</body>
</html>