<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "adminSidebar" .}}
{{template "adminNavbar" .}}
<main style="margin-top: 58px">
    <div class="container pt-4">
        <!-- Content goes here -->
        <div class="row">
            <div class="container">
                {{template "UInavbar"}}
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 pt-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Create Navbar Menu</h3>
                    </div>
                    <div class="card-body">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link {{if eq .MA "menuCreate"}}active{{end}}" id="nav-create-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-create" type="button" role="tab"
                                        aria-controls="nav-create"
                                        aria-selected="true">Create/Edit Menu
                                </button>
                                <button class="nav-link {{if eq .MA "menuAddPage"}}active{{end}}" id="nav-add-page-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-add-page" type="button" role="tab"
                                        aria-controls="nav-add-page" aria-selected="false">Add Page To Menu
                                </button>
                                <button class="nav-link {{if eq .MA "menuAddLink"}}active{{end}}" id="nav-add-link-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-add-link" type="button" role="tab"
                                        aria-controls="nav-add-link" aria-selected="false">Add Link To Menu
                                </button>
                                <button class="nav-link {{if eq .MA "menuAddCat"}}active{{end}}" id="nav-add-cat-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-add-cat" type="button" role="tab"
                                        aria-controls="nav-add-cat" aria-selected="false">Add Category To Menu
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            {{template "MenuTab1" .}}
                            {{template "MenuTab2" .}}
                            {{template "MenuTab3" .}}
                            {{template "MenuTab4" .}}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!----------------------->
    </div>
</main>

{{template "footerInclude" .}}
</body>
</html>