<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "adminSidebar" .}}
{{template "adminNavbar" .}}
<main style="margin-top: 58px">
    <div class="container pt-4">
        <!-- Content goes here -->
        <div class="row">
            <div class="container">
                {{template "UInavbar"}}
            </div>
            <div class="col-sm-10 col-md-10 col-lg-8 pt-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Create Navbar Menu</h3>
                    </div>
                    <div class="card-body">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link {{if eq .MA "menuCreate"}}active{{end}}" id="nav-create-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-create" type="button" role="tab"
                                        aria-controls="nav-create"
                                        aria-selected="true">Create/Edit Menu
                                </button>
                                <button class="nav-link {{if eq .MA "menuAddPage"}}active{{end}}" id="nav-add-page-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-add-page" type="button" role="tab"
                                        aria-controls="nav-add-page" aria-selected="false">Add Page To Menu
                                </button>
                                <button class="nav-link {{if eq .MA "menuAddLink"}}active{{end}}" id="nav-add-link-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-add-link" type="button" role="tab"
                                        aria-controls="nav-add-link" aria-selected="false">Add Link To Menu
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade {{if eq .MA "menuCreate"}}show active{{end}}" id="nav-create"
                                 role="tabpanel"
                                 aria-labelledby="nav-create-tab">
                                <div class="card my-4">
                                    <div class="card-header">
                                        <h5>Create Menu</h5>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="/admin/menu/create">
                                            <div class="row py-1">
                                                <div class="col-3 text-end">
                                                    <label for="menu_name">Menu Name:</label>
                                                </div>
                                                <div class="col-9">
                                                    <input type="text" class="form-control" id="menu_name"
                                                           name="menu_name"
                                                           placeholder="Main Navbar" required>
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <div class="col-3 text-end">
                                                    <label>Is Main Navbar:</label>
                                                </div>
                                                <div class="col-9">
                                                    <input type="checkbox" id="is_navbar" name="is_navbar" value="1">
                                                    <label for="is_navbar">Yes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mt-3 text-center">
                                                    {{with .Status.createNavError}}
                                                        <label class="text-danger">{{.}}</label>
                                                    {{end}}
                                                </div>
                                                <div class="col-12 mt-3 text-center">
                                                    {{with .Status.createNavSuccess}}
                                                        <label class="text-success">{{.}}</label>
                                                    {{end}}
                                                </div>
                                                <div class="col-12 mt-3 text-center">
                                                    <button class="w-50 btn btn-lg btn-primary" type="submit">Create
                                                        Navbar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card my-4">
                                    <div class="card-header">
                                        <h5>Change Main Navbar</h5>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="/admin/menu/editisnav">
                                            <div class="row py-1">
                                                <div class="col-3 text-end">
                                                    <label for="menu_id">Select Menu:</label>
                                                </div>
                                                <div class="col-9">
                                                    <select name="menu_id" id="menu_id">
                                                        {{ range $key, $menu := .Data}}
                                                            <option value="{{$menu.ID}}">{{$menu.ID}}
                                                                - {{$menu.Name}} {{if eq $menu.IsNavbar 1}} [CURRENT NAVBAR] {{end}}</option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <div class="col-3 text-end">
                                                    <label>Is Main Navbar:</label>
                                                </div>
                                                <div class="col-9">
                                                    <input type="radio" id="yes" name="is_navbar" value="1">
                                                    <label for="yes">Yes</label>
                                                    <input type="radio" id="no" name="is_navbar" value="0">
                                                    <label for="no">No</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mt-3 text-center">
                                                    {{with .Status.isNavError}}
                                                        <label class="text-danger">{{.}}</label>
                                                    {{end}}
                                                </div>
                                                <div class="col-12 mt-3 text-center">
                                                    {{with .Status.isNavSuccess}}
                                                        <label class="text-success">{{.}}</label>
                                                    {{end}}
                                                </div>
                                                <div class="col-12 mt-3 text-center">
                                                    <button class="w-50 btn btn-lg btn-primary" type="submit">Change
                                                        Main Navbar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade {{if eq .MA "menuAddPage"}}show active{{end}}" id="nav-add-page"
                                 role="tabpanel"
                                 aria-labelledby="nav-add-page-tab">
                                <form method="post" action="/admin/menu/ediit">
                                    <div class="row py-1">
                                        <div class="col-3 text-end">
                                            <label for="category_id">Select Category:</label>
                                        </div>
                                        <div class="col-9">
                                            <select name="category_id" id="category_id">
                                                {{ range $key, $menu := .Data}}
                                                    <option value="{{$menu.ID}}">{{$menu.ID}} - {{$menu.Name}}</option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row py-1">
                                        <div class="col-3 text-end">
                                            <label>Is Main Navbar:</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="checkbox" id="subRemove" name="subRemove" value="true">
                                            <label for="subRemove">Yes</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-3 text-center">
                                            {{with .Status.error}}
                                                <label class="text-danger">{{.}}</label>
                                            {{end}}
                                        </div>
                                        <div class="col-12 mt-3 text-center">
                                            {{with .Status.success}}
                                                <label class="text-success">{{.}}</label>
                                            {{end}}
                                        </div>
                                        <div class="col-12 mt-3 text-center">
                                            <button class="w-50 btn btn-lg btn-primary" type="submit">Add To Navbar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade {{if eq .MA "menuAddLink"}}show active{{end}}" id="nav-add-link"
                                 role="tabpanel"
                                 aria-labelledby="nav-add-link-tab">add link
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!----------------------->
    </div>
</main>

{{template "footerInclude" .}}
</body>
</html>