<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body class="bg-grey">
<main class="container align-items-center"
      style="margin-top: 58px">
    <div class="row my-auto">
        <!-- Content goes here -->
        <div class="col-md-6 m-auto ua-outer">
            <div class=" text-center ua-inner">
                <h3>We're Sorry about the inconvenience</h3>
                <h1>You are not authorized</h1>
                <p>If this is an error, please check your login credentials.</p>
                <a href="/">
                    <div class="w-100 btn btn-lg btn-primary tp-6">
                        GO BACK
                    </div>
                </a>
            </div>
        </div>
        <!----------------------->
    </div>
</main>

{{template "footerInclude" .}}
</body>
</html>