<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "navbar" .}}
{{template "featured" .}}
<div class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <!-- Content Here -->


            <!-- ------------ -->
        </div>

        {{template "archivesBar"}}

    </div>
</div>

{{template "footerInclude" .}}
</body>
</html>