{{template "header" .}}

<article class="blog-post">

    {{$res := index .Data "articleList"}}
    <h2 class="blog-post-title mb-1">{{index $res.Title 0}}</h2>
    <p>{{index $res.Content 0}}</p>

    <h2 class="blog-post-title mb-1">{{index $res.Title 0}}</h2>
    <p>{{index $res.Content 0}}</p>

    <h2 class="blog-post-title mb-1">{{index $res.Title 0}}</h2>
    <p>{{index $res.Content 0}}</p>
</article>

{{template "footer" .}}