<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "navbar" .}}
{{template "featured" .}}
<div class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <!-- Content Here -->
            <article class="blog-post">
                {{ range $key, $value := .Data}}
                    <h2 class="blog-post-title mb-1" id="{{$key}}">{{$value.Title}}</h2>
                    <p>{{$value.Content}}</p>
                {{end}}
            </article>
            <!-- ------------ -->
        </div>

        {{template "archivesBar"}}

    </div>
</div>

{{template "footerInclude" .}}
</body>
</html>