<!doctype html>
<html lang="en">
{{template "headerInclude" .}}
<body>
{{template "navbar" .}}
{{template "featured" .}}
<div class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <!-- Content Here -->
            <article class="blog-post">
                {{$res := index .Data "articleList"}}
                <h2 class="blog-post-title mb-1">{{index $res.Title 0}}</h2>
                <p>{{index $res.Content 0}}</p>

                <h2 class="blog-post-title mb-1">{{index $res.Title 1}}</h2>
                <p>{{index $res.Content 1}}</p>

                <h2 class="blog-post-title mb-1">{{index $res.Title 2}}</h2>
                <p>{{index $res.Content 2}}</p>
            </article>
            <!-- ------------ -->
        </div>

        {{template "archivesBar"}}

    </div>
</div>

{{template "footerInclude" .}}
</body>
</html>